<html>
<head>
  <title>Edit user</title>
  <link rel="stylesheet" href="style/index.css">
</head>
<div class="wrapper">
<body>
  <% if @mentee.nil? %>
    <p class="error"><strong>User does not exist</strong></p>
    <p>Return to <a href="/adminsearch">Admin search</a>.</p>
  <% else %>
    <h1>Edit mentee</h1>
    <strong>You are currently logged in as <%= session[:username] %></strong>
    <strong><a href="logout">Click here to log out.</a></strong>
          
    <form method="post" action= "/adminedit">
      <input type="hidden" name="id" value="<%= h @mentee.id %>" />
      <p class="label">Email</p>
      <p class="field"><input type="text" name="email" value="<%= h @mentee.email %>"  readonly/></p>
           
      <p class="label">Username</p>
      <p class="field"><input type="text" name="username" value="<%= h @mentee.username %>" readonly /></p>
         
      <p class="label">Password</p>
      <p class="field"><input type="text" name="password" value="<%= h @mentee.password %>" /></p>
      <% if @mentee.errors.include?("password") %>
        <% @mentee.errors["password"].each do |error| %>
          <p><strong class = "error">Password <%= error %></strong></p>
        <% end %>
      <% end %>
      <input type="hidden" name="suspended" value="<%= h @mentee.suspended %>" />
      <p class="submit"><input type="submit" value="submit" /></p>

    </form>
          
    <form method="post" action="/suspend_mentee">
      <input type="hidden" name="id" value="<%= @mentee.id %>" />
      <input type="submit" name="suspend" value="suspend" onclick="return confirm('Are you sure?')" />
    </form>
          
    <form method="post" action="/restore_mentee">
      <input type="hidden" name="id" value="<%= @mentee.id %>" />
      <input type="submit" name="restore" value="restore"  onclick="return confirm('Are you sure?')"/>
    </form> 
  <% end %>
</body>
</div>
</html>