<html>
<head>
  <title>Registration</title>
  <link rel="stylesheet" href="style/index.css">
</head>
<div class="wrapper" id ="mentor">
<body>
  <h1>Registration Page Mentor</h1>
  <form method="post" action= "/registermentor" >                
    <div class ="text-box">
      <% unless @error.nil? %>
          <p><strong class="error"><%= @error %></strong></p>
      <% end %>

      <p>
         <label for="firstname">First Name: </label>
         <input type="text" name="firstname" id="firstname" value="<%= h @user.firstname %>" placeholder="First name">
      </p>
      <% if @user.errors.include?("firstname") %>
        <% @user.errors["firstname"].each do |error| %>
          <p><strong class = "error">First Name <%= error %></strong></p>
        <% end %>
      <% end %>   
      
      <p>
         <label for="lastname">Last Name: </label>
         <input type="text" name="lastname" id="lastname" value="<%= h @user.lastname %>" placeholder="Last name">
      </p>
      <% if @user.errors.include?("lastname") %>
        <% @user.errors["lastname"].each do |error| %>
          <p><strong class = "error">Last Name <%= error %></strong></p>
        <% end %>
      <% end %>   
      
      <p>
         <label for="email">Email: </label>
         <input type="email" name="email" id="email" value="<%= h @user.email %>" placeholder="Email address">
      </p>
      <% if @user.errors.include?("email") %>
        <% @user.errors["email"].each do |error| %>
          <p><strong class = "error">Email <%= error %></strong></p>
        <% end %>
      <% end %>
      <p>
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" value="<%= h @user.username %>" placeholder="Username">
      </p>
      <% if @user.errors.include?("username") %>
        <% @user.errors["username"].each do |error| %>
          <p><strong class = "error">Username <%= error %></strong></p>
        <% end %>
        <% else %>
          <% if @error_exist %>
            <p><strong class = "error"> <%= @error_exist %></strong></p>
          <% end %>
      <% end %>
      
      <p>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" value="<%= h @user.password %>" placeholder="Password">
      </p>
      <% if @user.errors.include?("password") %>
        <% @user.errors["password"].each do |error| %>
          <p><strong class = "error">Password <%= error %></strong></p>
        <% end %>
      <% end %> 
      
      <p>
        <label for="text">Field of Expertise: </label>
        <input type="domain" name="domain" id="domain" value="<%= h @user.domain %>" placeholder="Domain">
      </p>
      <% if @user.errors.include?("domain") %>
        <% @user.errors["domain"].each do |error| %>
          <p><strong class = "error">Domain <%= error %></strong></p>
        <% end %>
      <% end %> 
      
      <input type="hidden" id="suspended" name="suspended" value=0>
      <input type="hidden" id="availability" name="availability" value=0>
    </div>
    
    <input type="checkbox" onclick="myFunction()">Show Password
    <script src="/js/showpassword.js"></script>
    <p>
      <input type="submit" name="submit" id="submit" value="Register">
    </p>
    <p>Have an account?</p>
    <p><a href="/chooselogin">Login here </a></p>
    <p><a href="/">Back to Home</a></p>
  </form>
</body>
</div>

</html>